.container-full {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-gutters > .col, .no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

body {
  background-color: #DEDEDE;
  font-family: "Helvetica-Neue", Helvetica, Verdana;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-header__link {
  color: white;
  text-decoration: none;
}

.App-header__link:hover {
  color: #DEDEDE;
  text-decoration: none;
}

.App-title {
  margin-top: 10px;
  font-size: 1.5em;
  color: #DEDEDE;
}

.App-intro {
  font-size: large;
}

.btn {
  cursor: pointer;
}


/* tabs */
.react-tabs {
  width: 100%;
}
.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  padding: 0;
  margin: 0;
  text-align: left;
}

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  background: #fff;
  padding: 10px 0 10px 0;
  min-height: 0.75vh;
}

.Home-tabs__plus-button {
  border: 0;
  border-radius: 2px;
  background: #aeaeae;
  color: #222;
  margin-left: 5px;
}

.Home-tabs__cross-button {
  background: rgba(0,0,0,0);
  margin-left: 5px;
  border: 0;
}

.fa-video-camera {
  color: rgb(199, 65, 65);
}

.tab__loading {
  position: absolute;
  right: 40px;
  padding: 0 0 0 5px;
  background: inherit; 
}
.tab-panel__loading {
  position: absolute;
  width: 100%;
  height: 80%;
  padding: 20vh 0 0 5px;
  background: rgba(0,0,0,0.7); 
  display: flex;
  align-items: top;
  justify-content: center;
}
/* end tabs */



.Home-input-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.Home-grid-button {
  color: #fff;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5em;
}

.Home-grid-button:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.9;
}

.Home-grid-button-left {
  background-color: #85929E;
}

.Home-grid-button-right {
  background-color: #2E4053;
}

.Home-empty-info-container {
  height: 35vh;
  font-size: 2em;
  font-weight: 700;
  color: #aeaeae;
}

/* Monitor */
.Monitor-container {
  background-color: #4D5656;
  color: #fff;
  padding: 5px 5px 20px 5px;
  min-height: 0.7vh;
}
.Monitor__video {
  min-width: 450px;
  min-height: 350px;
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
